@import '../scss/variables';

.container {
  width: $container-width;
  margin: 0 auto;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content__title {
    margin: 60px 0 50px 0;
    font-weight: 800;
    font-size: 38px;
    @media (max-width: 730px) {
      display: flex;
      justify-content: center;
      letter-spacing: 2px;
    }
  }
  .content__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 11px;
    @media (max-width: 1400px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 1060px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 730px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  //&--cart {
  //  max-width: 820px;
  //  margin: 90px auto;
  //  .content__title {
  //    margin: 0;
  //  }
  //}
}

