@import '../../scss/variables';

.pizzaBlockWrapper {
  display: flex;
  justify-content: center;

  .pizza__block {
    width: 280px;
    text-align: center;
    margin-bottom: 65px;

    &__image {
      width: 260px;
    }

    &__title {
      font-size: 20px;
      font-weight: 900;
      //letter-spacing: 1%;
      margin-bottom: 20px;
    }

    &__selector {
      display: flex;
      background-color: #f3f3f3;
      border-radius: 10px;
      flex-direction: column;
      padding: 6px;

      ul {
        display: flex;
        flex: 1;

        &:first-of-type {
          margin-bottom: 6px;
        }

        li {
          padding: 8px;
          flex: 1;
          cursor: pointer;
          font-weight: 600;
          font-size: 14px;

          &.active {
            background: #ffffff;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
            border-radius: 5px;
            cursor: auto;
          }
        }
      }
    }

    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;

    }

    &__price {
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.015em;
    }
    .pizza__block__addButton {
      display: flex;
      align-items: center;
      background-color: #fff;
      border-radius: 30px;
      padding: 10px 20px;
      min-width: 100px;
      cursor: pointer;

      transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      border: 1px solid $orange;
      &,span {
        color: $orange;
        font-weight: 600;
        font-size: 16px;
      }

      &:hover {
        background-color: $orange;

        &,span {
          color: #fff;
        }
        i {
          background-color: white;
          color: $orange;
        }
      }

      &:active {
        background-color: darken($orange, 8%);
      }
      i,
      span {
        transition: all $duration ease-in-out;
      }
      i {
        display: inline-block;
        border-radius: 30px;
        background-color: $orange;
        color: #fff;
        font-weight: 600;
        width: 22px;
        height: 22px;
        font-style: normal;
        font-size: 13px;
        line-height: 22px;
        position: relative;
        top: -1px;
        left: 5px;
      }

    }
  }
}

